#content {
    width: 400px;
    height: 300px;
    border: 1px solid darkgrey;
    padding: 10px;
    overflow-y: scroll;
}

#content p {
    margin: 5px;
}

#username, #content, #message, #sendMessage {
    margin-bottom: 5px;
}